@font-face {
    font-family: 'Rajdhani';
    src: url(../police/Rajdhani-Medium.ttf);
}
:root{
    --yellow-color: #FFFF00;
    --yellow-leight: #f8f184;
    --blu--color: #19587D;
    --with--color: #ffffff;
    --gradient-white: #eddebf3b;
    --gradient-red: #8900093f;
}

   *{ margin: 0;
    padding: 0;
    box-sizing: border-box;
   }

h1{
    font-family:'Rajdhani';
    font-size: 36px;
    font-weight: 400;
}
button{
    font-family: 'Rajdhani';
    font-size: 20px;
    font-weight: 400;
}
.container{
    width: 80%;
    margin: 0 auto;
    
}
body{
   background-color: black;
   color: white; 
   font-family: 'space grotesk';
   font-weight: 300;
}
/*designe de la navigation*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
ul{
    list-style: none;
}
nav ul a{
color: var(--with--color);
font-size: 30px;
font-weight: 500;
font-family: 'Rajdhani';
text-decoration: none;
}
nav:ul a hover{
    color: var(--yellow-color)
}
/* le desine pour la partie entete hero*/
#hero{
    background-image: url(../Illustrations/Bathome1.png);
    height: 800px;
    background-position: top center;
    background-repeat: no-repeat;
    background-color: aqua;
    background-size: cover;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding: 150px;
}
#hero .titre{ 
    margin: 20px 0;
}
.btn{
    text-decoration: none;
    color:var(--with--color);
    font-size: 22px;
    padding:10px 50px;
    background: linear-gradient(
        80deg, var(--gradient-white),var(--gradient-red)
    );
}
/* designe de la section batman personnage*/
.batman-personnage{
    display: flex;
    justify-content: space-between;
} 
/* partie némici*/
.personnage-nemici{
    display: flex;
    justify-content: space-between;
}
/* partie allies*/
.personnage-allies{
    display: flex;
    justify-content: space-between;
}
